#notes-editor {
    display:          flex;
    padding:          10px;
    border-bottom:    1px solid var(--bg-color-dark);
    background-color: var(--bg-color-light);
    flex-grow:        1;
    overflow:         scroll;

    font-size:        20px;
}

#piano-note-names::before {
    content:          "";
    display:          block;
    position:         absolute;
    left:             -10px;
    top:              0;
    width:            10px;
    height:           calc(1.2em * 88 - 2px);
    background-color: var(--bg-color-light);
}

#piano-note-names {
    width:          6em;
    min-width:      6em;
    counter-reset:  octave 8;
    margin-right:   10px;

    display:        flex;
    flex-direction: column;

    position:       sticky;

    left:           0;

    z-index:        4;
}

#piano-note-names::after {
    content:    "";
    display:    block;
    min-height: 8px;
    width:      1px;
}

#piano-note-names > span {
    position:         relative;
    display:          flex;
    width:            100%;
    height:           1.2em;
    min-height:       1.2em;
    border-bottom:    2px solid var(--bg-color-light);

    background-color: orange;

    justify-content:  left;
    align-items:      center;

    overflow:         visible;
}

#piano-note-names > span:nth-child(12n + 2) {
    counter-increment: octave -1;
}

#piano-note-names > span::after {
    font-size:   60%;
    margin-left: 2px;
}

#piano-note-names > span:nth-child(12n + 1)::after {
    content: "C" counter(octave)
}

#piano-note-names > span:nth-child(12n + 2)::after {
    content: "B" counter(octave)
}

#piano-note-names > span:nth-child(12n + 3)::after {
    content: "A♯" counter(octave) " / " "B♭" counter(octave)
}

#piano-note-names > span:nth-child(12n + 4)::after {
    content: "A" counter(octave)
}

#piano-note-names > span:nth-child(12n + 5)::after {
    content: "G♯" counter(octave) " / " "A♭" counter(octave)
}

#piano-note-names > span:nth-child(12n + 6)::after {
    content: "G" counter(octave)
}

#piano-note-names > span:nth-child(12n + 7)::after {
    content: "F♯" counter(octave) " / " "G♭" counter(octave)
}

#piano-note-names > span:nth-child(12n + 8)::after {
    content: "F" counter(octave)
}

#piano-note-names > span:nth-child(12n + 9)::after {
    content: "E" counter(octave)
}

#piano-note-names > span:nth-child(12n + 10)::after {
    content: "D♯" counter(octave) " / " "E♭" counter(octave)
}

#piano-note-names > span:nth-child(12n + 11)::after {
    content: "D" counter(octave)
}

#piano-note-names > span:nth-child(12n + 12)::after {
    content: "C♯" counter(octave) " / " "D♭" counter(octave)
}

#piano-note-names > span:is(
    :nth-child(12n + 11),
    :nth-child(12n + 1),
    :nth-child(12n + 2),
    :nth-child(12n + 4),
    :nth-child(12n + 6),
    :nth-child(12n + 8),
    :nth-child(12n + 9)
) {
    background-color: white;
    color:            black;
}

#piano-note-names > span:is(
    :nth-child(12n),
    :nth-child(12n + 3),
    :nth-child(12n + 5),
    :nth-child(12n + 7),
    :nth-child(12n + 10)
) {
    background-color: black;
    color:            white;
    width:            calc(100% - 1.5em + 2px);
    border-right:     2px solid var(--bg-color-light);
}

#piano-note-names > span:is(
    :nth-child(12n),
    :nth-child(12n + 3),
    :nth-child(12n + 5),
    :nth-child(12n + 7),
    :nth-child(12n + 10)
)::before {
    content:           "";
    position:          absolute;
    top:               -2px;
    right:             calc(-1.5em);
    display:           block;
    height:            calc(1.2em + 6px);
    width:             calc(1.5em - 2px);
    border:            solid white;

    --splitting-point: 0.5;

    border-width:      calc(var(--splitting-point) * 1.2em + 2px) 0 calc((1 - var(--splitting-point)) * 1.2em + 2px) 0;
    background-color:  var(--bg-color-light);
}

#piano-note-names > span:nth-child(12n + 3)::before {
    --splitting-point: calc(3 / 4)
}

#piano-note-names > span:nth-child(12n + 7)::before {
    --splitting-point: calc(1 / 4)
}

#piano-note-names > span:nth-child(12n)::before {
    --splitting-point: calc(1 / 3)
}

#piano-note-names > span:nth-child(12n + 10)::before {
    --splitting-point: calc(2 / 3)
}

#piano-notes {
    display:        flex;
    flex-direction: row;
    height:         calc(1.2em * 88 - 2px);
    counter-reset:  measure-number;
    user-select:    none;
}

.piano-notes-column {
    position: relative;
    margin-right: 2px;
}

.piano-notes-column::after {
    position:     absolute;
    top:          0;
    left:         -2px;
    display:      block;
    width:        0;
    height:       100%;
    border-right: 2px solid var(--medium-color);
}

.piano-notes-column::before {
    counter-increment: measure-number;
    z-index:           3;
    display:           block;
    width:             50px;
    height:            20px;
    margin:            0 -50px -20px 0;
    position:          sticky;
    font-size:         14px;
    color:             var(--highlight-color);
    top:               -10px;
    padding:           1px 0 0 4px;
    text-shadow:       0 0 5px var(--bg-color-dark), 0 0 5px var(--bg-color-dark), 0 0 5px var(--bg-color-dark);
}

.piano-notes-key {
    display:          flex;
    width:            calc(0.6em);
    height:           calc(1.2em - 2px);
    margin-bottom:    2px;
    background-color: var(--bg-color-dark);
    flex-direction:   column;
}

.piano-notes-key > span {
    z-index:          2;
    display:          block;
    width:            calc(100% + 2px);
    flex-basis:       1px;
    flex-grow:        1;
    background-color: white;
    margin-left:      -1px
}

.piano-notes-key > span.begin {
    border-radius: 1em 0 0 1em;
    width:         calc(100% - 1px);
    margin-left:   2px;
}

.piano-notes-key > span.end {
    border-radius: 0 1em 1em 0;
    width:         calc(100% - 1px);
}

.piano-notes-key > span.dot {
    border-radius: 1em 1em 1em 1em;
    margin-left:   2px;
    width:         calc(100% - 4px);
}

.piano-notes-key > span:first-child {
    margin-top: 2px;
}

.piano-notes-key > span:last-child {
    margin-bottom: 2px;
}

.piano-notes-key > .voice-1 {
    background-color: var(--voice-1-color)
}

.piano-notes-key > .voice-2 {
    background-color: var(--voice-2-color)
}

.piano-notes-key > .voice-3 {
    background-color: var(--voice-3-color)
}

.piano-notes-key > .voice-4 {
    background-color: var(--voice-4-color)
}

.piano-notes-key > .voice-5 {
    background-color: var(--voice-5-color)
}

.piano-notes-key > .voice-6 {
    background-color: var(--voice-6-color)
}

#piano-notes-end-space {
    position:    sticky;
    top:         -10px;
    border-left: 2px solid var(--highlight-color);
    width:       calc(100% - 5em - 20px);
    min-width:   calc(100% - 5em - 20px);
    height:      calc(100% + 20px);
}

#controls:is(
    [data-time-signature="4+0"],
    [data-time-signature="3+0"],
    [data-time-signature="2+0"],
    [data-time-signature="4+1"],
    [data-time-signature="3+1"],
    [data-time-signature="2+1"],
    [data-time-signature="4+2"],
    [data-time-signature="3+2"],
    [data-time-signature="2+2"]
) + * .piano-notes-column:nth-child(6n + 1)::after {
    content: "";
}

#controls:is(
    [data-time-signature="6+0"],
    [data-time-signature="9+0"],
    [data-time-signature="12+0"],
    [data-time-signature="6+1"],
    [data-time-signature="9+1"],
    [data-time-signature="12+1"],
    [data-time-signature="6+2"],
    [data-time-signature="9+2"],
    [data-time-signature="12+2"]
) + * .piano-notes-column:nth-child(2n + 1)::after {
    content:            "";
    border-right-color: var(--medium-color);
}

#controls[data-time-signature="2+0"] + * .piano-notes-column:nth-child(12n + 1)::after,
#controls[data-time-signature="6+0"] + * .piano-notes-column:nth-child(12n + 1)::after,
#controls[data-time-signature="3+0"] + * .piano-notes-column:nth-child(18n + 1)::after,
#controls[data-time-signature="9+0"] + * .piano-notes-column:nth-child(18n + 1)::after,
#controls[data-time-signature="4+0"] + * .piano-notes-column:nth-child(24n + 1)::after,
#controls[data-time-signature="12+0"] + * .piano-notes-column:nth-child(24n + 1)::after,
#controls[data-time-signature="2+1"] + * .piano-notes-column:nth-child(12n + 7)::after,
#controls[data-time-signature="6+1"] + * .piano-notes-column:nth-child(12n + 7)::after,
#controls[data-time-signature="3+1"] + * .piano-notes-column:nth-child(18n + 7)::after,
#controls[data-time-signature="9+1"] + * .piano-notes-column:nth-child(18n + 7)::after,
#controls[data-time-signature="4+1"] + * .piano-notes-column:nth-child(24n + 7)::after,
#controls[data-time-signature="12+1"] + * .piano-notes-column:nth-child(24n + 7)::after,
#controls[data-time-signature="2+2"] + * .piano-notes-column:nth-child(12n + 13)::after,
#controls[data-time-signature="6+2"] + * .piano-notes-column:nth-child(12n + 13)::after,
#controls[data-time-signature="3+2"] + * .piano-notes-column:nth-child(18n + 13)::after,
#controls[data-time-signature="9+2"] + * .piano-notes-column:nth-child(18n + 13)::after,
#controls[data-time-signature="4+2"] + * .piano-notes-column:nth-child(24n + 13)::after,
#controls[data-time-signature="12+2"] + * .piano-notes-column:nth-child(24n + 13)::after{
    border-right-color: var(--highlight-color)
}

#controls[data-time-signature="2+0"] + * .piano-notes-column:nth-child(12n + 1)::before,
#controls[data-time-signature="6+0"] + * .piano-notes-column:nth-child(12n + 1)::before,
#controls[data-time-signature="3+0"] + * .piano-notes-column:nth-child(18n + 1)::before,
#controls[data-time-signature="9+0"] + * .piano-notes-column:nth-child(18n + 1)::before,
#controls[data-time-signature="4+0"] + * .piano-notes-column:nth-child(24n + 1)::before,
#controls[data-time-signature="12+0"] + * .piano-notes-column:nth-child(24n + 1)::before,
#controls[data-time-signature="2+1"] + * .piano-notes-column:nth-child(12n + 7)::before,
#controls[data-time-signature="6+1"] + * .piano-notes-column:nth-child(12n + 7)::before,
#controls[data-time-signature="3+1"] + * .piano-notes-column:nth-child(18n + 7)::before,
#controls[data-time-signature="9+1"] + * .piano-notes-column:nth-child(18n + 7)::before,
#controls[data-time-signature="4+1"] + * .piano-notes-column:nth-child(24n + 7)::before,
#controls[data-time-signature="12+1"] + * .piano-notes-column:nth-child(24n + 7)::before,
#controls[data-time-signature="2+2"] + * .piano-notes-column:nth-child(12n + 13)::before,
#controls[data-time-signature="6+2"] + * .piano-notes-column:nth-child(12n + 13)::before,
#controls[data-time-signature="3+2"] + * .piano-notes-column:nth-child(18n + 13)::before,
#controls[data-time-signature="9+2"] + * .piano-notes-column:nth-child(18n + 13)::before,
#controls[data-time-signature="4+2"] + * .piano-notes-column:nth-child(24n + 13)::before,
#controls[data-time-signature="12+2"] + * .piano-notes-column:nth-child(24n + 13)::before{
    content: counter(measure-number);
}



.piano-notes-column-placeholder {
    display: block;
    width: 12px;
    height: 2110px;
}