
#controls {
    display: flex;
    padding: 10px;
    background-color: var(--bg-color-light);
    margin-bottom: 10px;
    z-index: 5;
    user-select: none;
    max-height: 54px;
}

#controls>.controls-section {
    display: flex;
    position: relative;
    align-items: center;
}

#controls>.controls-section>*:not(:first-child) {
    margin-left: 5px;
}

#controls>.controls-section:not(:first-child)::before {
    content: "";

    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--medium-color);
    margin-left: 10px;
    margin-right: 10px;
}

#controls-section-middle {
    flex-grow: 1;
}

#controls-section-middle::before {
    margin-right: -11px !important;
}

#controls :is(button,input) {
}

#rewind, #play {
    font-family: "JetBrains Mono", monospace;
    padding-bottom: 1px;
}

#play:not([data-playing])::after {
    content: "|>";
}

#play[data-playing]::after {
    content: "||";
}

#bpm {
    width: 2em;
}

#time-signature {
    display: flex;
    flex-direction: column;
    font-size: 80%;
    align-items: center;
    padding-top: 1px;
    user-select: none;
}

#time-signature>span:first-child {
    margin-bottom: -5px;
}

#voice-selector>span {
    display: inline-flex;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.75em;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#voice-selector>span[data-active] {
    background-color: var(--voice-color);
}

#voice-selector>span:nth-child(1) { --voice-color: var(--voice-1-color) }
#voice-selector>span:nth-child(2) { --voice-color: var(--voice-2-color) }
#voice-selector>span:nth-child(3) { --voice-color: var(--voice-3-color) }
#voice-selector>span:nth-child(4) { --voice-color: var(--voice-4-color) }
#voice-selector>span:nth-child(5) { --voice-color: var(--voice-5-color) }
#voice-selector>span:nth-child(6) { --voice-color: var(--voice-6-color) }

#instrument-select>option {
    background-color: var(--bg-color-light);
}

#snap-selector>span {
    user-select: none;
    padding: 2px 5px;
    margin-left: 5px;
}

#snap-selector>span[data-active] {
    outline: 1px solid var(--highlight-color);
    outline-offset: -1px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.instrument-select-option {
    background-color: var(--bg-color-light);
    padding:          2px 19px 2px 2px;
}

#instrument-select>div>div {
    box-shadow: 0 0 2px var(--medium-color);
}

.instrument-select-option:hover {
    background-color: var(--medium-color);
}

.instrument-select-active-option::after {
    position: absolute;
    right: 0;
    top: 6px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: currentColor;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewbox='0 0 10 10'%3E%3Cpath d='M 1 3 L 5 7 9 3' fill='none' stroke='%23666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
}

#instrument-select {
    position: relative;
}

#instrument-select * {
    color: inherit !important;
    user-select: none;
}